<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>MobileWiki</string>
	<key>CFBundleIdentifier</key>
	<string>org.wiki.mobilewikimedia</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UIPrerenderedIcon</key>
	<false />
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
    <string>0.9</string>
    <key>UIStatusBarHidden</key>
    <true />
</dict>
</plist>
